.main{
	width: 90%;
	margin: 5%;
	border: 1px solid black ;
	
	
	
}

main h1{
	margin-top: -100px;
}


.main img{
	width: 100px;
	height: 100px;
	position: relative;
	top: 30px;
	opacity: 1;
}

ul{
	list-style-type: none;
}


.main .row{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main span{
	font-weight: bold;
	font-size: 35px;
	position: relative;
	top: 65px;
}

.price{
	top: 75px;
	right: 115px;
}

.quantity{
	display: flex;
	position: relative;
	top: 70px;
	right: 200px;

}

.quantity button{
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	width: 30px;
	color: white;
}

.quantity button p{
	position: relative;
	bottom: 20px;
	left: 0px;
}

.plus{
	background-color: green;
	position: relative;
	left: 50px;
}

.plus:hover{
	background-color: white;
	color: green;
}

.minus:hover{
	background-color: white;
	color: red;
}

.quantity p{
	position: relative;
	bottom: 57px;
	right: 28px;
}

.minus{
	background-color: red;
}

li{
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}

.number{
	font-size: 35px;
	font-weight: bold;
	position: relative;
	left: 25px;
	top: -40px;
}

.finalPrice{
	font-size: 35px;
	font-weight: bold;
	position: relative;
	right: 150px;
	top: 35px;
}

.remove {
	height: 30px;
	position: relative;
	right: 100px;
	top: 69px;
	color:white;
	background-color: red;
	font-size: 20px;
}

.remove:hover{
	background-color: white;
	color: red;
}


.final{
	display: flex;
	width: 100%;
	justify-content: center;
}

.final button{
	width: 150px;
	font-size: 25px;
	font-weight: bold;
	background-color: green;
	color: white;
	border-radius: 20px;
	border-color: 1px solid white;
	position: relative;
	bottom: 60px;
}

.final button:hover{
	color: green;
	background-color: white;
	border-color: green;
}

.final p {
	font-size: 35px;
	font-weight: bold;
	position: relative;
	left: 600px;
	bottom: 100px;
	border-bottom: 3px solid black;
}
