<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap">
	<script src="https://kit.fontawesome.com/67939a765b.js" crossorigin="anonymous"></script>
	



  		<link rel="stylesheet" type="text/css" href="/css/index.css">
  		<link rel="stylesheet" type="text/css" href="/css/basket.css">

</head>
<body>

<header>
    <div class = "left">
           <a href="/">
			   <span class="material-symbols-outlined">
tools_power_drill
</span>
        
           </a>
    </div>
    

  
</header>



<h1>Items in Basket</h1>
<div class="main">
    
    <ul th:if="${not #lists.isEmpty(itemList)}">
        
        <li class = "li" th:each="item : ${itemList}" th:id = "${item.id}">
            <div   class="row">
                <img th:src="@{'/images/drill' + ${item.imageIdentifier} + '.jpg'}">
                <span th:text="${item.itemName}"></span>  <span th:id = "${item.id}" class="price" th:text="${item.itemPrice}"></span>
                
                <div class = "quantity" >
					<button th:id = "${item.id}" class = "minus"><p class = "mn">-</p></button>
					 <p th:id = "${item.id}" class = "number">1</p>
					<button th:id = "${item.id}" class = "plus"><p class = "pl">+</div></button>
					
					<div class = "finalPrice">
					<p class = "totalItem" th:text = "${item.itemPrice}" th:id = "${item.id}"></p>
				</div>
					<button  th:id = "${item.id}"  class = "remove"><i class="fa-solid fa-trash"></i></button>
				</div>
				
				
              		
                
            </div>
        </li>
    </ul>
    </ul>
   
   
   
</div>


	<div class = "final">
		<button class = "purchase">Purchase</button>
		
		<p th:text="'$' + ${totalSum}" class = "total"></p>
	</div>

	<footer>
		   
      <div class="social">
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>

      <p>Copyright © 2024 - DrillShop</p>
    </footer>
	
	
	
	
	
	  
		
		
		

<script src="js/basket.js"></script>

</body>
</html>