<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap">
	<script src="https://kit.fontawesome.com/67939a765b.js" crossorigin="anonymous"></script>
	



  		<link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body>

<header>
    <div class = "left">
           <a href="/">
			   <span class="material-symbols-outlined">
tools_power_drill
</span>
        
           </a>
    </div>
    
    
    <div class="center">
		<p>DrillShop</p>
	</div>


    <div class = "right">
		
	
		
        <a href="/basket"><span class="material-symbols-outlined">
shopping_basket
</span>
</a>

<p class="itemCount"   th:text="${itemCount.size()}"></p>


    </div>
</header>


    
    <div class="main">
        <img src="/images/drill.jpg" >
        <div class="overlay">
			<p class="text">The best DRILLS on the market</p>
            <button class="button">See More</button>
        </div>
    </div>
    
    
    
    <h1>Our Products</h1>
    
    
    <div class = "products">
		
		
		<div class = "item">
			
			
			<img src = "/images/drill1.jpg">
			
			<div class = "buttons">
				<button class="add-to-basket" id="1">
					<i class="fa-solid fa-plus"></i>
				</button>

		<button>
			<i class="fa-solid fa-circle-info"></i>
		</button>
		</div>
			
			
			
	<div class="info">
   
   <p class="name" th:text="${items.get(0).itemName}"></p> 
   
   <p class="price"  th:text="'$'+${items.get(0).itemPrice}"></p>
</div>	
			
			
		</div>
		
		
		
		
		<div class = "item">
			
			
			<img src = "/images/drill2.jpg">
			
			<div class = "buttons">
				<button class="add-to-basket" id="2">
					<i class="fa-solid fa-plus"></i>
				</button>

		<button>
			<i class="fa-solid fa-circle-info"></i>
		</button>
		</div>
			
			
			
	<div class="info">
   
   <p class="name" th:text="${items.get(1).itemName}"></p> 
   
   <p class="price"  th:text="'$'+${items.get(1).itemPrice}"></p>
</div>	
			
			
		</div>
		
		
		
		<div class = "item">
			
			
			<img src = "/images/drill3.jpg">
			
			<div class = "buttons">
				<button class="add-to-basket" id="3">
					<i class="fa-solid fa-plus"></i>
				</button>

		<button>
			<i class="fa-solid fa-circle-info"></i>
		</button>
		</div>
			
			
			
	<div class="info">
   
   <p class="name" th:text="${items.get(2).itemName}"></p> 
   
   <p class="price"  th:text="'$'+${items.get(2).itemPrice}"></p>
</div>	
			
			
		</div>
		
		
		<div class = "item">
			
			
			<img src = "/images/drill4.jpg">
			
			<div class = "buttons">
				<button class="add-to-basket" id="4">
					<i class="fa-solid fa-plus"></i>
				</button>

		<button>
			<i class="fa-solid fa-circle-info"></i>
		</button>
		</div>
			
			
			
	<div class="info">
   
   <p class="name" th:text="${items.get(3).itemName}"></p> 
   
   <p class="price"  th:text="'$'+${items.get(3).itemPrice}"></p>
</div>	
			
			
		</div>
		</div>
		
	
	
	
	
	
	<footer>
		   
      <div class="social">
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>

      <p>Copyright © 2024 - DrillShop</p>
    </footer>
	
	
	
	<script src="js/myscript.js"></script>
	
	  
		
		
		



</body>
</html>