<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap">


  		<link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body>

<header>
    <div class = "left">
           <span class="material-symbols-outlined">
tools_power_drill
</span>
        <p>DrillsShop</p>
    </div>


    <div class = "right">
        <span class="material-symbols-outlined">
shopping_basket
</span>
    </div>
</header>


 <div class="main">
        <img src="/images/drill.jpg" >
        <div class="overlay">
            <button class="button">See More</button>
        </div>
    </div>





</body>
</html>