<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap">


  		<link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body>

<header>
    <div class = "left">
           <span class="material-symbols-outlined">
tools_power_drill
</span>
        <p>DrillsShop</p>
    </div>


    <div class = "right">
        <span class="material-symbols-outlined">
shopping_basket
</span>
    </div>
</header>


 
    
    
    
    <div class="main">
        <img src="/images/drill.jpg" >
        <div class="overlay">
			<p class="text">The best DRILLS on the market</p>
            <button class="button">See More</button>
        </div>
    </div>
    
    
    
    <h1>Our Products</h1>
    
    
    <div class = "products">
		
		<div class = "item">
			
			<img src = "/images/drill1.jpg">
			
	<div class="info">
   
   <p class="name" th:text="${items.get(0).itemName}"></p> 
   
   <p class="price"  th:text="'$'+${items.get(0).itemPrice}"></p>
</div>	
			
			
		</div>
		



  
		
		<div class = "item">
			
			<img src = "/images/drill2.jpg">
			
	<div class="info">
   
   <p class="name" th:text="${items.get(1).itemName}"></p> 
   
   <p class="price"  th:text="'$'+${items.get(1).itemPrice}"></p>
</div>	
			
			
		</div>
		
	
	
	
	
	
	  
		
		<div class = "item">
			
			<img src = "/images/drill3.jpg">
			
	<div class="info">
   
   <p class="name" th:text="${items.get(2).itemName}"></p> 
   
   <p class="price"  th:text="'$'+${items.get(2).itemPrice}"></p>
</div>	
			
			
		</div>
		
	
	
	
	
	
	
	
	  
		
		<div class = "item">
			
			<img src = "/images/drill4.jpg">
			
	<div class="info">
   
   <p class="name" th:text="${items.get(3).itemName}"></p> 
   
   <p class="price"  th:text="'$'+${items.get(3).itemPrice}"></p>
</div>	
			
			
		</div>
		
	</div>



</body>
</html>